#brand-img{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 24px;
}
#login-container{

}
#login-form{
    width: 308px;
    height: 234.6px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 16px;
    background-color: white;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#forget{
    float: right;
}
#forget:hover{
    color: #337ab7;
    text-decoration: none;
}
#forget:link{
    color: #337ab7;
    text-decoration: none;
}
#forget:visited{
    color: #337ab7;
}
#login-footer{
    margin-right: auto;
    margin-left: auto;
    width: 308px;
    margin-top: 16px;
    padding: 15px 20px;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

#brand-img>a>img{
    width: 48px;
    height: 46px;
}
#login-container>div>h2{
    text-align: center;
}
#login-form>form>button{
    width: 100%;
}

.form-group>label{
    width: 266px;
}